@media screen and (max-width: 576px) {
    header {
        width: 100%;
        height: 850px;
    }

    nav {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .logo-part {
        margin-bottom: 20px;
    }

    .bannet-content {
        width: 100%;
    }

    .description {
        margin-bottom: 30px;
    }

    .title {
        font-size: 30px;
    }

    .banner-img {
        height: 300px;
    }

    /* main-style */
    /* feature-style */
    .section {
        width: 100%;
    }

    .feature {
        flex-direction: column;
        width: 100%;
    }

    .img-box {
        margin-bottom: 300px;
    }

    .img-box,
    img {
        flex-direction: column;
        width: 100%;
    }

    .features-img {
        width: 100%;
    }

    .features-details {
        width: 100%;
        margin-top: -60px;
    }

    .feature-two {
        flex-direction: column-reverse;
    }

    .feature-img-two {
        width: 100%;
        margin-bottom: -50px;
    }

    .feature-button{
        right: 10px;
    }

    .feature-details-content {
        width: 100%;
    }

    /* fact-style */
    .facts-description {
        width: 100%;
    }
    .fact-box-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }


}