* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* primary-style */
.primary-color {
    color: #FF900E;
}

.title {
    font-weight: 700px;
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 700px;
}

.description {
    margin-bottom: 20px;
}

.details {}

.primary-button {
    color: white;
    background-color: #FF900E;
    border: 0;
    width: 180px;
    font-weight: 400;
    font-size: 17px;
    height: 64px;
    border-radius: 5px;
}

/* Header-style */
header {
    background-color: beige;
    width: 100%;
    height: 1322px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    margin-bottom: 118px;
}

.menu-part ul,
li,
a {
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* banner-style */
.banner-content {
    width: 70%;
    margin: auto;
    text-align: center;
}

.banner-button {
    margin-bottom: 30px;
}

.banner-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
}

/* main-style */
/* feature-style */
section {
    width: 100%;
    padding: 20px;
    margin: auto;
}

.feature {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
}

.features-title {
    font-size: 40px;
}

.features-details {
    width: 30%;
    height: 312px;
}

.img-box {
    width: 50%;
}

.img-box,
img {
    display: flex;
    gap: 10px;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

/* feature-tow-style */
.feature-details {
    width: 50%;

}

.feature-details-box {
    margin-left: 23px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px rgb(235, 233, 233);
    padding: 20px;
    border-radius: 5px;
}

.feature-img-two {
    width: 50%;
}

.feature-button {
    position: relative;
    bottom: 70px;
    right: 30px;
    width: 40%;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
}

small {
    font-size: 16px;
    padding-top: -20px;
}

.feature-two-title {
    border-left: 3px solid #FF900E;
    padding-left: 10px;

}

.feature-img-two img {
    width: 100%;
    height: 750px;
}

/* facts-style */
.facts-description {
    width: 50%;
}
.facts{
    margin-bottom: 80px;
}
.fact-box-content {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}

.fact-box {
    border: 1px solid peru;
    font-size: 20px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.fact-box:hover{
    background-color: #FF900E;
}
.fact-box img {
    width: 45.22px;
    height: 45.22px;
}
/* spnspors-style */
.spnspors-details{
    width: 100%;
    text-align: center;
    margin: auto;
}
.spnspors-img{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.spnspors-img img{
    width: 166.76px;
    height: 50px;
    color: gray;
    filter: invert(0%)  sepia(0%) saturate(0%) hue-rotate(76deg) brightness(96%);
}
/* footer-style */
footer{
    width: 100%;
    margin: 70px 0;
}
.footer-cotent{
    width: 80%;
    /* height: 100px; */
    margin: auto;
    background-color: #FFF4E7;
    text-align: center;
    padding: 40px;

}